/* lang button styling */
.lang-select-drop-down-btn{
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: #FFF;
}

.lang-select-drop-down-btn.active,
.lang-select-drop-down-btn:hover{
    background-color: #F3F3F3;
}

/* lang drop down styling */
.lang-drop-down-container{
    height: 287px;
    padding: 14px;
    padding-right: 0px;
    flex-direction: column;
    border-radius: 4px;
    gap: 8px;
    width: 206px;
    border: 1px solid #DADADA;
    background: #FFF;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.16);
}

.lang-drop-down-container .lang-search-box{
    padding: 10px 14px;
    margin-right: 14px;
    border-radius: 3px;
    border: 1px solid #DADADA;
    background: rgba(255, 255, 255, 0.20);
}

.lang-search-box input {
    margin-left: 6px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.lang-list-wrapper{
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: thin;
}

.lang-list-wrapper .lang-list{
    padding: 0;
    padding-right: 8px;
}

.lang-list-wrapper .lang-list .lang-list-item{
    padding: 10px 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 2px;
}

.lang-list-wrapper .lang-list .lang-list-item:hover{
    background-color: #F3F3F3;
}

.lang-list-wrapper .lang-list .lang-list-item.active{
    border-radius: 3px;
    background: rgba(0, 115, 223, 0.06);
    color: #0073DF;
}

.lang-list-wrapper .lang-list .lang-list-item .item-select-icon{
    opacity: 0;
}

.lang-list-wrapper .lang-list .lang-list-item.active .item-select-icon{
    opacity: 1;
}
