
button {
    border: none;
}

.no-story-found-text {
    color: #3C4043;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.add-new-story-btn {
    display: flex;
    width: 215px;
    height: 44px;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #0078D4;
} 

.add-new-story-btn, .add-new-story-btn-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.pib-language {
    color: #0673F7;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.pib-headline {
    display: -webkit-box;
    width: 331px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    color: #2A353E;
    text-overflow: ellipsis;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pib-ministry-badge {
    width: fit-content;
    display: flex;
    height: 19px;
    padding: 2px 11px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #E4E8EB;
    color: #3C4043;
    font-family: Roboto !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.pib-proj-list-info {
    display: flex !important;
    gap: 6px;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}
.file-edit-proj-txt-tmx {
    line-height: 16px !important;
    margin: 0;
    padding: 0;
}
.pib-word-badge {
    padding: 1px 5px;
    border-radius: 2px;
    background: var(--Tags, #E7EBEE);
    color: #3C4043;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    max-width: max-content;
}
.pib-file-icon-bg {
    position: absolute;
    width: 22px;
    height: 28px;
    border-radius: 1px;
    background: #41A4ED;
}
.pib-file-icon-fg {
    position: absolute;
    width: 28px;
    height: 14px;
    border-radius: 1px;
    background: #1D62C0;
    color: #FFF;
    text-align: center;
    font-family: Antonio;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pib-priject-type-text {
    color: #909EAA;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
}

.pib-status-badge {
    color: #3C4043;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pib-project-list-action-wrap {
    display: flex;
    gap: 14px;
}

.disabled-lang {
    pointer-events: none;
    cursor: not-allowed !important;
    opacity: 0.5;
}
.pib-nav-bar {
    /* width: 250px;
    height: 43px; */
    display: flex;
    gap: 4px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #0074D3;
    background: #FFF;
}
.pib-nav-item {
    cursor: pointer;
    display: flex;
    width: 148px;
    height: 36px;
    padding: 8px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: #FFF;
}
.pib-nav-bar .active {
    background: #0074D3;
}
.pib-nav-bar .active .pib-nav-text {
    color: #FFF !important;
}
.pib-nav-text {
    color: #0074D3;
    font-family: Roboto !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.task-inprogress-text {
    width: 265px;
    height: 38px;
    display: grid;
    color: #212529;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.task-inprogress-btn {
    display: inline-flex;
    height: 44px;
    padding: 6px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 3px;
    background: #0078D4;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.pib-segment-wrapper .note-editable-class-wrapper,
.pib-segment-wrapper .note-editing-area {
    height: 100% !important;
}

.federal-news-workspace-wrap ul#workspace .pib-segment-wrapper:not(:last-child){
    margin-bottom: 20px;
}
.federal-news-workspace-wrap ul#workspace .pib-segment-wrapper .title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #222222;
    margin-bottom: 0px;
}
.story-file-upload-main-wrap::-webkit-scrollbar:horizontal,
.rodal.news-proj-report-wrap .report-main-wrapper::-webkit-scrollbar:horizontal,
.editor-roles-wrapper .editor-roles-table-wrap .editor-roles-value-wrap::-webkit-scrollbar:horizontal,
.pib-segment-wrapper .source-text-div#source-text-div-3::-webkit-scrollbar:horizontal,
.view-story-modal-inner-wrapper .story-main-wrapper.add-story-wrap textarea::-webkit-scrollbar:horizontal,
.note-editing-area::-webkit-scrollbar:horizontal{
    height: 20px;
    width: 100%;
}
.story-file-upload-main-wrap::-webkit-scrollbar,
.rodal.news-proj-report-wrap .report-main-wrapper::-webkit-scrollbar,
.editor-roles-wrapper .editor-roles-table-wrap .editor-roles-value-wrap::-webkit-scrollbar,
.pib-segment-wrapper .source-text-div#source-text-div-3::-webkit-scrollbar,
.view-story-modal-inner-wrapper .story-main-wrapper.add-story-wrap textarea::-webkit-scrollbar,
.prompt-type-area textarea.sent-input::-webkit-scrollbar,
.chat-book-body-wrapper::-webkit-scrollbar,
.chat-book-main-wrapper__upload-access-wrapper .file-list-wrapper .button-wrap-file-list::-webkit-scrollbar,
.note-editing-area::-webkit-scrollbar{
    width: 19px;
    height: 100%;
}
.story-file-upload-main-wrap::-webkit-scrollbar-corner,
.rodal.news-proj-report-wrap .report-main-wrapper::-webkit-scrollbar-corner,
.editor-roles-wrapper .editor-roles-table-wrap .editor-roles-value-wrap::-webkit-scrollbar-corner,
.pib-segment-wrapper .source-text-div#source-text-div-3::-webkit-scrollbar-corner,
.view-story-modal-inner-wrapper .story-main-wrapper.add-story-wrap textarea::-webkit-scrollbar-corner,
.note-editing-area::-webkit-scrollbar-corner {
    background: #ECEFF4;
}
.story-file-upload-main-wrap::-webkit-scrollbar-track,
.story-file-upload-main-wrap::-webkit-scrollbar-track:horizontal,
.rodal.news-proj-report-wrap .report-main-wrapper::-webkit-scrollbar-track,
.editor-roles-wrapper .editor-roles-table-wrap .editor-roles-value-wrap::-webkit-scrollbar-track,
.editor-roles-wrapper .editor-roles-table-wrap .editor-roles-value-wrap::-webkit-scrollbar-track:horizontal,
.pib-segment-wrapper .source-text-div#source-text-div-3::-webkit-scrollbar-track,
.pib-segment-wrapper .source-text-div#source-text-div-3::-webkit-scrollbar-track:horizontal,
.view-story-modal-inner-wrapper .story-main-wrapper.add-story-wrap textarea::-webkit-scrollbar-track,
.view-story-modal-inner-wrapper .story-main-wrapper.add-story-wrap textarea::-webkit-scrollbar-track:horizontal{
    background-color: transparent;
    width: 100%;
    height: 100%;
}
.pib-segment-wrapper .source-text-div#source-text-div-3::-webkit-scrollbar-thumb,
.pib-segment-wrapper .source-text-div#source-text-div-3::-webkit-scrollbar-thumb:horizontal{
    background-color: #DADDE0 !important;
    border-radius: 50px;
    border: 6px solid #f9f9f9 !important;
}
.pib-segment-wrapper .writer-form-component{
    outline: 0px solid #c5c1c1 !important;
    /* border: 1px solid #E1E5E6; */
    border-radius: 4px;
    height: auto;
    margin: 0px 0;
}
.pib-segment-wrapper .writer-form-component .note-editor .note-toolbar,
.story-main-wrapper.add-story-wrap .writer-form-component .note-editor .note-toolbar{
    border-radius:4px 4px 0px 0px;
}
.pib-segment-wrapper .writer-form-component .note-editable-class-wrapper,
.story-main-wrapper.add-story-wrap .writer-form-component .note-editable-class-wrapper{
    border-radius:0px 0px 4px 4px;
}
.pib-segment-wrapper .writer-form-component .note-editing-area{
    /* max-height: 500px !important; */
    /* height: 500px; */
}
.pib-segment-wrapper .writer-form-component .note-editable{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    overflow-x: hidden !important;
    min-height: 537px !important;
    width: 100%;
    overflow-y: hidden !important;
    cursor: context-menu;
    font-size: 15px !important;
}
/* .pib-segment-wrapper .note-editing-area{
    height: 455px !important;
} */
/* .pib-segment-wrapper .source-text-div#source-text-div-3{
    min-height: 500px !important; 
    max-height: 500px !important; 
} */
.pib-segment-wrapper .source-text-div{
    width: 100% !important;
    border: 0px solid transparent !important;
    background-color: transparent !important;
    resize: none;
    margin-top: 44px;
    overflow: auto;
}
/* .pib-segment-wrapper  .note-editable-class-wrapper{
    height: 455px !important;
} */
.pib-segment-wrapper  .note-editable-class-wrapper .note-editable{
    height: inherit !important;
    min-height: auto !important;
    padding-bottom: 0px !important;
    overflow: auto !important;
}
.pib-segment-wrapper .writer-form-component .note-toolbar.card-header,
.view-story-modal-wrapper.add-story-modal .rodal-dialog .note-toolbar.card-header{
    text-align: left !important;
}
.pib-segment-wrapper .workspace-row:not(.focused-row) .target-lang-part .workspace-align>.form-group{
    width: 100%;
}.pib-segment-wrapper .workspace-row .note-toolbar{
    border-top: 1px solid #E1E5E6 !important;
    border-bottom: 1px solid #E1E5E6 !important;
    border-left: 1px solid #E1E5E6 !important;
    border-right: 1px solid #E1E5E6 !important;
    border-radius: 4px !important;
}

.pib-segment-wrapper .focused-row.workspace-row .note-toolbar{
    border-top: 1px solid #E1E5E6 !important;
    border-bottom: 1px solid #E1E5E6 !important;
    border-left: 1px solid #E1E5E6 !important;
    border-right: 1px solid #E1E5E6 !important;
    border-radius: 4px !important;
}
.add-subtitle-btn {
    display: flex;
    height: 38px;
    padding: 6px 14px 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
}
.add-subtitle-btn-text {
    color: #3C4043;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.add-subtitle-text-count {
    color: var(--Text-Third, #B2B2B2);
    text-align: right;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.add-story-nav-item {
    width: 85px;
    padding: 10px 29px;
    cursor: pointer;
}
.add-story-nav-text {
    color: #2A353E;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.add-story-nav .active {
    /* background: #FFF; */
    border-bottom: solid #0074D3;
}
.add-story-nav .active .add-story-nav-text {
    color: #0074D3 !important;
}
.file-list-container {
    margin-top: 20px;
}
/* Each row */
.file-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;
    border-bottom: 1px solid #e5e7eb;
    background: #ffffff;
    margin-bottom: 10px;
}
/* File name */
.file-name {
    display: flex !important;
    align-items: center;
    gap: 9px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
    width: 40%;
    max-width: 590px;
    width: 100%;
    min-width: 512px;
}
/* Status */
.file-status {
    width: 25%;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}
/* Buttons */
.file-actions {
    width: 20%;
    text-align: right;
    display: flex;
    justify-content: end;
}
.btn-analyze {
    padding: 8px 12px;
    background: #FFF;
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 13px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}
.btn-analyze:hover {
    background: #ececec !important;
    color: #FFF;
}
/* Status colors */
.status-start {
    color: #1e40af;
}
.status-progress {
    color: #b45309;
}
.status-completed {
    color: #166534;
}
.status-failed {
    color: #991b1b;
}
.analyzing {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #555;
}
/* .loader {
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-top: 2px solid #333;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */
.disabled-upload {
    opacity: 0.5;
    pointer-events: none;  /* prevents clicking/dragging */
}
.pibnews-workspace-container, .pibnews-source {
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
}